/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    max-width: 55em;
    margin: auto;
}

footer {
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: underline;
}
